# Supabase - get these from https://supabase.com/dashboard/project/<your-project>/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://hnfjeeedsdmwxpngwkmw.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhuZmplZWVkc2Rtd3hwbmd3a213Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NTg4NDgsImV4cCI6MjA5MjUzNDg0OH0.UKte8RxsDRRyfB58d-pgqikmPPawlI10ilp3LMM8UpI
